{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="container">
        <div>
            <img src="{% static 'img/profile.jpg' %}" width="120rem">
            <h2 style="font-weight: 600; padding: 40px 0px">안녕하세요! 3년차 개발자, 정윤교입니다.</h2>
        </div>

        <div>
            <h2 style="color:green">About Me</h2>
            <hr>
            <div class="row">
                <div class="col-5">
                    <h3>Introduction</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>안녕하세요! 3년차 백엔드 개발자 정윤교입니다.</li>
                        <li>새로운 기술을 배우는 것을 좋아하고 그 기술을 바로 적용하고 있습니다.</li>
                        <li>성장욕구가 누구보다 강합니다.</li>
                        <li>직면한 문제가 어려울수록 그 문제를 해결하고 풀어나가는 과정에서 엄청난 희열을 느끼면서 일을 합니다.</li>
                        <li>몰입하여 주어진 시간 안에 문제를 해결하는 것을 좋아합니다.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>Contact & Channel</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li><strong>Email</strong> | jyg0172@naver.com</li>
                        <hr>
                        <li><strong>Github</strong> | <a href="https://github.com/yoongyo">https://github.com/yoongyo</a></li>
                        <li><strong>Blog</strong> | <a href="http://bizchool.pythonanywhere.com">http://bizchool.pythonanywhere.com</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <h2 style="color:green">Skills</h2>
            <hr>
            <div class="row">
                <div class="col-5">
                    <h3>Backend</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>Python, JS, Java</li>
                        <li>Django, Django Rest Framework, Flask</li>
                        <li>Spring boot, Spring MVC</li>
                        <li>Nest.js</li>
                        <li>Graphql</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>DevOps</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>AWS EC2, S3, Route 53, RDS</li>
                        <li>MySQL, Postgresql, Sqlite3</li>
                        <li>Pythonanywhere, Heroku</li>
                        <li>Docker</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>Frontend</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>Html5, CSS, JS(ES6)</li>
                        <li>Bootstrap</li>
                        <li>React</li>
                        <li>React-native</li>
                        <li>Typescript</li>
                        <li>Redux(React-redux, Redux-toolkit)</li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <h2 style="color:green">Work Experience & Projects</h2>
            <hr>
            <div class="row">
                <div class="col-5">
                    <h3>Company</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>비즈쿨 대안학교 중고등학생 코딩 교육 (2017~2019)</li>
                        <li><a href="https://todaysfriend.com/">Tryaround - Today's Friend CTO (2018~2019)</a></li>
                        <li>비즈쿨 연구소장 (2018~2021)</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>Outsourcing</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li><a href="https://www.route-escape.com/" target="_blank">루트이스케이프(부천점) 방탈출 예약 홈페이지</a></li>
                        <li><a href="http://routeescape.co.kr/" target="_blank">루트이스케이프(안산점) 방탈출 예약 홈페이지</a></li>
                        <li><a href="http://tesco.or.kr/" target="_blank">(주)테스코 회사 홈페이지</a></li>
                        <li><a href="https://play.google.com/store/apps/details?id=com.shammah.shammahbiblelecture" target="_blank">키워드로 보는 성경(Android, Ios)</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>Personal Business Serivce</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li><a href="https://smartstore.naver.com/bizchoollab/products/4315238593?NaPm=ct%3Dkqizvyxs%7Cci%3D32b19171b060af90762f2ed70cb8a1b0ddca08e9%7Ctr%3Dsls%7Csn%3D894447%7Chk%3D42e9d50a94922e544060c668fdc5bb20a4993ccf" target="_blank">힌트박스</a></li>
                        <li><a href="https://play.google.com/store/apps/details?id=com.bizchool.hintphone" target="_blank">힌트폰(전국의 방탈출 50개 이상의 업체 자동화 시스템 제공)</a></li>
                        <li>방탈출 카페 장치 제작(아두이노, 라즈베리파이)</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>Personal Project</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>시스템 트레이딩(선물, 코스피, 코스닥)</li>
                        <li>시스템 트레이딩 앱 서비스</li>
                        <li>파이썬 증권 데이터 분석 및 전략 개발</li>
                        <li>공공배달앱(안민석 오산시 국회의원 공약 공공배달앱 개발 추진)</li>
                        <li>외식페이 스타트업 준비(QR코드를 통한 주문 자동화)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <h2 style="color:green">Competition & Conference</h2>
            <hr>
            <div class="row">
                <div class="col-5">
                    <h3>Pycon</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>매년 Pycon 컨퍼런스 참석</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>Startup Weekend</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>약 54시간 동안 스타트업에 열정있는 사람들이 모여 '팀구성, 협업 및 아이템 개발' 경험을 통해 실제 창업 프로세스를 몸으로 부딪혀보는 프로그램 (2018)</li>
                        <li>커피밋이라는 서비스로 금상 수상</li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <h2 style="color:green">Code</h2>
            <hr>
            <div class="row">
                <div class="col-5">
                    <h3>Today's Friend</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>https://github.com/yoongyo/TSF1</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>루트이스케이프(부천점)</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>https://github.com/yoongyo/roomescape</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>루트이스케이프(안산점)</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>https://github.com/yoongyo/roomescapehomepage</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>(주)테스코</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>
                            https://github.com/yoongyo/tesco
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>힌트박스</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>https://github.com/yoongyo/hintBox</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>힌트폰</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>https://github.com/yoongyo/hintphone</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>키워드로 보는 성경</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>https://github.com/yoongyo/bible_v2</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>bizchool 블로그</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>https://github.com/yoongyo/bizchoolblog</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>방탈출 장치</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>https://github.com/yoongyo/escapeDevice</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>힌트폰 V2</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>https://github.com/yoongyo/hintphone-v2</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>공공배달앱</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>https://github.com/yoongyo/baedal</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>외식페이</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>https://github.com/yoongyo/eatoutpay</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h3>시스템 트레이딩</h3>
                </div>
                <div class="col-7">
                    <ul>
                        <li>주요 전략과 데이터가 포함되어 공개하지 않겠습니다</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}