{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div>
        <div id="fullpage">
            <div class="section" style="text-align: center;">
                <div class="container">
                    <div>
                        <h1>정윤교</h1><br>
                        <h1>포트폴리오</h1>
                        <br>
                        <br>
                        <br>
                        <h3>1996.04.21 / 경기도 오산시</h3>
                        <h3>Tel. 010-3076-3572</h3>
                        <h3>Email. jyg0172@naver.com</h3>
                    </div>
                </div>
            </div>
            <div class="section" style="text-align: center; background-color:white">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'img/image2.png' %}" style="height:300px; width:300px;">
                        </div>
                        <div class="col mt-5">
                            <h1>2017</h1><br>
                            <h3>비즈쿨 대안학교 중•고등학생 코딩 교육(2017~2020)</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" style="text-align: center;">
                <div class="container">
                    <div class="row">
                        <div class="col mt-4">
                            <h1>2018</h1><br>
                            <h3>스타트업 위크엔드 금상 수상(커피밋)</h3>
                            <h3>스타트업 Today's Friend CTO (2018~2019)</h3>
                            <h3>방탈출 힌트박스 제작 및 판매</h3>
                        </div>
                        <div class="col">
                            <img src="{% static 'img/image1.jpg' %}" style="height:280px; width:400px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" style="background-color: white;">
                <div class="container">
                    <div class="row">
                        <div class="col text-center" style="line-height:329.6px">
                            <img src="{% static 'img/image4.png' %}" style="height:200px; width:300px;vertical-align:middle">
<!--                            <img src="{% static 'img/image3.png' %}" style="height:50px; width:100px;">-->
                        </div>
                        <div class="col">
                            <h1 style="text-align: center">2019</h1><br>
                            <h3>방탈출 힌트폰 어플 개발 및 서비스 운영</h3>
                            <h3>키워드로 보는 성경 개발 및 출시</h3>
                            <h3>Tesco 회사 홈페이지 개발</h3>
                            <h3>루트이스케이프 부천점 홈페이지 개발</h3>
                            <h3>루트이스케이프 안산점 홈페이지 개발</h3>
                            <h3>외식페이 개발 및 스타트업 준비</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" style="text-align: center">
                <h1>2020-2021</h1><br>
                <h3>시스템 트레이딩(국내 선물, 코스피, 코스닥)</h3>
                <h3>파이썬 증권 데이터 분석 및 전략 개발</h3>
            </div>
            <div class="section" style="background-color: white; ">
                <div class="container">
                    <div class="row" style="text-align: center">
                        <div class="col">
                            <h1>ETC</h1><br>
                            <h3>방탈출 카페 장치 제작(아두이노, 라즈베리파이)</h3>
                            <h3>축제 스타트업(festigo) 시도</h3>
                            <h3>이벤트 관련 스타트업(eventmoa) 시도</h3>
                            <h3>Android용 수신 메모(bizcall) 어플 개발</h3>
                            <h3>안민석 오산시 국회의원 공약 공공배달앱 개발 추진</h3>
                            <h3>매년 파이콘 및 개발관련 컨퍼런스 다수 참여</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" style="">
                <div class="container">
                    <h1 style="text-align: center">CODE</h1><br><br><br>
                    <div class="row">
                        <div class="col-6">
                            <a href="https://todaysfriend.com" target="_blank">
                                <h3>Today's friend</h3>
                            </a>
                        </div>
                        <div class="col-6">
                            <h3>https://github.com/yoongyo/TSF1</h3>
                        </div>
                        <div class="col-6">
                            <a href="https://www.route-escape.com" target="_blank">
                                <h3>루트이스케이프(부천점)</h3>
                            </a>
                        </div>
                        <div class="col-6">
                            <h3>https://github.com/yoongyo/roomescape</h3>
                        </div>
                        <div class="col-6">
                            <a href="http://routeescape.co.kr" target="_blank">
                                <h3>루트이스케이프(안산점)</h3>
                            </a>
                        </div>
                        <div class="col-6">
                            <h3>https://github.com/yoongyo/roomescapehomepage</h3>
                        </div>
                        <div class="col-6">
                            <a href="http://tesco.or.kr" target="_blank">
                                <h3>(주)테스코</h3>
                            </a>
                        </div>
                        <div class="col-6">
                            <h3>https://github.com/yoongyo/tesco</h3>
                        </div>
                        <div class="col-6">
                            <a href="https://play.google.com/store/apps/details?id=com.bizchool.hintphone" target="_blank">
                                <h3>힌트폰</h3>
                            </a>
                        </div>
                        <div class="col-6">
                            <h3>https://github.com/yoongyo/hintphone</h3>
                        </div>
                        <div class="col">
                            <a href="https://smartstore.naver.com/bizchoollab/products/4315238593?NaPm=ct%3Dkqizvyxs%7Cci%3D32b19171b060af90762f2ed70cb8a1b0ddca08e9%7Ctr%3Dsls%7Csn%3D894447%7Chk%3D42e9d50a94922e544060c668fdc5bb20a4993ccf" target="_blank">
                                <h3>힌트박스</h3>
                            </a>
                        </div>
                        <div class="col-6">
                            <h3>https://github.com/yoongyo/hintBox</h3>
                        </div>
                        <div class="col-6">
                            <a href="https://play.google.com/store/apps/details?id=com.shammah.shammahbiblelecture" target="_blank">
                                <h3>키워드로 보는 성경</h3>
                            </a>
                        </div>
                        <div class="col-6">
                            <h3>https://github.com/yoongyo/bible_v2</h3>
                        </div>
                        <div class="col-6">
                            <a href="https://bizchool.pythonanywhere.com/" target="_blank">
                                <h3>비즈쿨 블로그</h3>
                            </a>
                        </div>
                        <div class="col-6">
                            <h3>https://github.com/yoongyo/bizchoolblog</h3>
                        </div>
                        <div class="col-6">
                            <h3>외식페이</h3>
                        </div>
                        <div class="col-6">
                            <h3>https://github.com/yoongyo/eatoutpay</h3>
                        </div>
                        <div class="col-6">
                            <h3>공공배달앱</h3>
                        </div>
                        <div class="col-6">
                            <h3>https://github.com/yoongyo/baedal</h3>
                        </div>
                        <div class="col-6">
                            <h3>방탈출 장치</h3>
                        </div>
                        <div class="col-6">
                            <h3>https://github.com/yoongyo/escapeDevice</h3>
                        </div>

                        <div class="col-6">
                            <h3>시스템 트레이딩</h3>
                        </div>
                        <div class="col-6">
                            <h3>주요 전략과 데이터가 포함되어 공개하지 않겠습니다</h3>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        $('#fullpage').fullpage({
            autoScrolling:true,
            scrollHorizontally: true,
            anchors: ['intro', '2017', '2018', '2019', '2020-2021', 'etc', 'code'],
            navigation: true,
            // navigationTooltips: ['2017', '2018', 2019', '2020-2021', '기타'],
            showActiveTooltips: true,
            slidesNavigation: true,
        });
     });
    </script>
{% endblock %}