{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div>
        <div id="fullpage">
            <div class="section" style="text-align: center; background-image: url({% static 'img/image2.png' %}); background-repeat: no-repeat; background-position:center center;">
                <h1>2017</h1>
                <h1>비즈쿨 대안학교 중고등학생 코딩 교육(2017~2020)</h1>
            </div>
            <div class="section" style="text-align: center; background-image: url({% static 'img/image1.jpg' %}); background-repeat: no-repeat; background-position:center center;">
                <h1>2018</h1>
                <h1>스타트업 위크엔드 금상 수상(커피밋)</h1>
                <h1>스타트업 Today's friend CTO (2018~2019)</h1>
                <h1>방탈출 힌트박스 제작 및 판매</h1>
            </div>
            <div class="section" style="background-color: black; text-align: center">
                <h1>2019</h1>
                <h1>방탈출 힌트폰 어플 개발 및 서비스 운영 시작</h1>
                <h1>Android, Ios 성경어플 개발 및 출시</h1>
                <h1>Tesco 회사 홈페이지 개발</h1>
                <h1>루트이스케이프(부천점, 안산점) 예약 홈페이지 개발</h1>
                <h1>외식 페이 개발 및 스타트업 준비</h1>
            </div>
            <div class="section" style="background-color: white; text-align: center">
                <h1>2020-2021</h1>
                <h1>시스템 트레이딩(국내 선물, 코스피, 코스닥)</h1>
            </div>
            <div class="section" style="background-color: yellow; text-align: center">
                <h1>기타</h1>
                <h1>방탈출 카페 문제 및 장치 제작(아두이노, 라즈베리파이)</h1>
                <h1>축제 스타트업(festigo) 시도</h1>
                <h1>이벤트 관련 스타트업(eventmoa) 시도</h1>
                <h1>Android용 수신 메모(bizcall) 어플 개발</h1>
                <h1>매년 파이콘 및 개발관련 컨퍼런스 다수 참여</h1>
            </div>
            <div class="section" style="background-color: blue; text-align: center">
                <h1>코드</h1>
                <a href="https://todaysfriend.com">
                    <h3>Today's friend</h3>
                </a>
                <a href="https://www.route-escape.com">
                    <h3>루트이스케이프(부천점)</h3>
                </a>
                <a href="http://routeescape.co.kr">
                    <h3>루트이스케이프(안산점)</h3>
                </a>
                <a href="http://tesco.or.kr">
                    <h3>(주)테스코</h3>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.bizchool.hintphone">
                    <h3>힌트폰</h3>
                </a>
                <a href="https://smartstore.naver.com/bizchoollab/products/4315238593?NaPm=ct%3Dkqizvyxs%7Cci%3D32b19171b060af90762f2ed70cb8a1b0ddca08e9%7Ctr%3Dsls%7Csn%3D894447%7Chk%3D42e9d50a94922e544060c668fdc5bb20a4993ccf">
                    <h3>힌트박스</h3>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.shammah.shammahbiblelecture">
                    <h3>성경어플</h3>
                </a>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        $('#fullpage').fullpage({
            autoScrolling:true,
            scrollHorizontally: true,
            anchors: ['2017', '2018', '2019', '2020-2021', '기타'],
            navigation: true,
            // navigationTooltips: ['2017', '2018', 2019', '2020-2021', '기타'],
            showActiveTooltips: true,
            slidesNavigation: true,
        });
     });
    </script>
{% endblock %}